package core

import (
	"github.com/condemo/nes-cards/public/views/components"
	"github.com/condemo/nes-cards/types"
)

templ GameView(g *types.Game) {
	<div id="game-view">
		@components.PlayersResume(g.Player1, g.Player2)
		<!-- @components.TowersResume(*t1, *t2) -->
		<!-- @components.TowersResume(*t1, *t2) -->
	</div>
}
