package core

import "github.com/condemo/nes-cards/public/views/layout"

templ Home() {
	@layout.Base("Home") {
		<div id="main-home" class="p-4">
			<div id="main-view">
				// TODO: Crear una vista home y mover GameView a su propia ruta
				@WelcomeView()
			</div>
		</div>
	}
}
